// charset meta tag
meta(charset="UTF-8")

// Responsive meta tag
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

// Title of the website
title #{title}

// SEO meta tags
meta(name="description", content=description)
meta(name="author", content=author)
meta(name="keywords", content=keywords)

// change status bar color & Capable meta
meta(name="theme-color", content=mainColor)/
meta(name="apple-mobile-web-app-status-bar-style", content=mainColor)/
meta(name="msapplication-TileColor", content=mainColor)/

// favicon
link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")

// style files (CSS files)
link(rel="stylesheet", href="./css/style.css")
